footer {
    line-height: 1.4em;
    display: grid;
    grid-gap: 1.4em;
    grid-template-columns: repeat(2, 1fr);
    padding: calc(4* 1.4em) 1.4em;
    background: #333d52;
    color: black;

    a {
        color: green;
    }

    .small {
        font-size: 0.8em;
    }

}